# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CProgs\lab3-algo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
